<div class="container py-5">
  <h1 class="bio-title justify-content-center py-5 text-center">Ristorante Il Gabero Rosso</h1>
  <div class="row justify-content-center">
    <div class="col-sm-4">
        <img src="./../../../assets/images/background-pic.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-sm-8">
      <div class="bio">
        <h4 class="strong"> Welcome ! We are a family-owned and operated for over 50 years. We look forward to serving
          you delicious pizza
          or pasta.</h4>
        <p> We are your home for the best Italian cuisine available in town. Our food is made fresh the moment you place
          your order. </p>

        <ul>
          <li>we source the highest quality tomatoes for our pasta sauce, vegetables, soups, pizza </li>
          <li>We serve up an array of dishes from large calzones to fresh baked pizza, and pasta. </li>
          <li>Our attentive service to ensure your lunch or dinner is special and enjoyable.</li>
        </ul>
        <p>We welcome you to stop by today to try one of our daily lunch specials or unwind with a large dinner entrée
          after a long day at work.</p>
      </div>
    </div>
  </div>
</div>