<div class="why-choose-us py-5 text-center bg-light">
    <div class="description">
        <h2>Why choose us</h2>
        <p> Welcome ! We are a family-owned and operated for over 50 years. We look forward to serving you delicious
            pizza or pasta.</p>
    </div>

    <div class="description2 row">
        <div class="first-characteristic row col-sm-4">
            <p>01</p>
            <h3>Quality</h3>
            <p>Highest quality used on ingredients.
                From  for our pasta sauce, vegetables,  soups, pizza toppings.
            </p>
        </div>

        <div class="second-characteristic row col-sm-4">
            <p>02</p>
            <h3>Variety</h3>
            <p>Variety of authentic dishes.
                Aarray of dishes from large calzones to fresh baked pizza, and pasta.
            </p>
        </div>
        <div class="third-characteristic row col-sm-4">
            <p>03</p>
            <h3>Customer service</h3>
            <p>Our servers will provide you with attentive service to ensure your lunch or dinner is special and enjoyable.</p>
        </div>
    </div>

</div>