<div class="container py-5   gx-5">

    <div class="row py-5">
        <div class="card col-12 m-2">
            <div class="card-header">
                <h1> DetailS </h1>
            </div>
            <div class="content d-flex justify-content-evenly mx-2 p-3">
                <img style="width:320px"
                    src="{{detail.image}}"
                    alt="cheesecak dessert">
                <div class="card-body">
                    <h5 class="card-title">{{detail.title}}</h5>
                    <p class="card-text">{{detail.ingredients}}</p>
                    <p class="card-text">{{detail.description}}</p>
                    <p class="card-text">{{detail.details}}</p>
                </div>
                <strong>{{detail.price}}</strong>
                <hr>
            </div>

        </div>
    </div>
</div>